<ul class="al-msg-center clearfix">

  <li uib-dropdown>
    <a href class="msg" uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>{{vm.messages.length}}</span>
      <div class="notification-ring"></div>
    </a>
    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>Denúncias Recebidas</strong>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in vm.messages">
          <div class="msg-area">
            <div>{{ msg.Empresa.NomeFantasia }}</div>
            <span>{{ msg.Data }}</span>
          </div>
        </a>
      </div>
      <a href>Ver Todas</a>
    </div>
  </li>
</ul>