<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="confirmaSalvarAuto">Salvar Auto</h4>
    
  </div>
  <div class="modal-body">
    Confirma salvar Auto? 
    <div class="spinner" ng-show="boxCtrl.loading"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="boxCtrl.salvar(boxCtrl.auto)">Sim</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Não</button>
  </div>
</div>