<div class="row mail-client-container transparent">
  <div class="col-md-12">
    <div ba-panel ba-panel-class="with-scroll mail-panel">
      <div class="letter-layout">
        <div class="mail-navigation-container" ng-class="{'expanded' : !tabCtrl.navigationCollapsed}">
          <div class="text-center labels">
            <span class="labels-title">Situações</span> 
          </div>
          <div ng-repeat="t in tabCtrl.tabs" ui-sref-active="active" class="mail-navigation"
               ui-sref="components.mail.label({status: t.StatusFatoId})" ng-click="selectTab(t.StatusFatoId)">
            {{t.Nome}} <span class="new-mails" ng-show="t.Quantidade">{{t.Quantidade}}</span>
          </div>
        </div>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>