@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br" ng-app="BlurAdmin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portal Procon CG</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

  <!--<link rel="icon" type="image/png" sizes="16x16" href="~/Scripts/assets/img/favicon-16x16.png">-->
  <link rel="icon" type="image/png" sizes="32x32" href="Scripts/assets/img/favicon-32x32.png">
  <!--<link rel="icon" type="image/png" sizes="96x96" href="~/Scripts/assets/img/favicon-96x96.png">-->

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="~/Scripts/lib/ionicons.css" >
  <link rel="stylesheet" href="~/Scripts/lib/angular-toastr.css" >
  <link rel="stylesheet" href="~/Scripts/lib/animate.css" >
  <link rel="stylesheet" href="~/Scripts/lib/bootstrap.css" >
  <link rel="stylesheet" href="~/Scripts/lib/bootstrap-select.css" >
  <link rel="stylesheet" href="~/Scripts/lib/bootstrap-switch.css" >
  <link rel="stylesheet" href="~/Scripts/lib/bootstrap-tagsinput.css" >
  <link rel="stylesheet" href="~/Scripts/lib/font-awesome.css" >
  <link rel="stylesheet" href="~/Scripts/lib/fullcalendar.css" >
  <link rel="stylesheet" href="~/Scripts/lib/leaflet.css" >
  <link rel="stylesheet" href="~/Scripts/lib/angular-progress-button-styles.min.css" >
  <link rel="stylesheet" href="~/Scripts/lib/chartist.min.css" >
  <link rel="stylesheet" href="~/Scripts/lib/morris.css" >
  <link rel="stylesheet" href="~/Scripts/lib/ion.rangeSlider.css" >
  <link rel="stylesheet" href="~/Scripts/lib/ion.rangeSlider.skinFlat.css" >
  <link rel="stylesheet" href="~/Scripts/lib/textAngular.css" >
  <link rel="stylesheet" href="~/Scripts/lib/xeditable.css" >
  <link rel="stylesheet" href="~/Scripts/lib/style.css" >
  <link rel="stylesheet" href="~/Scripts/lib/select.css" >
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="Scripts/app/main.css">
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">
<div ng-show="isLoading" id="loading-wrapper">
  <div id="loading-text">Carregando...</div>
  <div id="loading-content"></div>
</div>
  <ba-sidebar></ba-sidebar>
  <page-top nome="@ViewBag.Agente"></page-top>

  <div class="al-main">
    <div class="al-content">
      <content-top></content-top>
      <div ui-view autoscroll="true" autoscroll-body-top></div>
    </div>
  </div>

  <footer class="al-footer clearfix">
    <div class="al-footer-right">Campina Grande <i class="ion-heart"></i></div>
    <div class="al-footer-main clearfix">
      <div class="al-copy">Procon CG</div>
    </div>
  </footer>

  <back-top></back-top>
</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
  <div></div>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<script src="~/Scripts/lib/jquery.js"></script>
<script src="~/Scripts/lib/jquery-ui.js"></script>
<script src="~/Scripts/lib/jquery.easing.js"></script>
<script src="~/Scripts/lib/jquery.easypiechart.js"></script>
<script src="~/Scripts/lib/Chart.js"></script>
<script src="~/Scripts/lib/amcharts.js"></script>
<script src="~/Scripts/lib/responsive.min.js"></script>
<script src="~/Scripts/lib/serial.js"></script>
<script src="~/Scripts/lib/funnel.js"></script>
<script src="~/Scripts/lib/pie.js"></script>
<script src="~/Scripts/lib/gantt.js"></script>
<script src="~/Scripts/lib/amstock.js"></script>
<script src="~/Scripts/lib/ammap.js"></script>
<script src="~/Scripts/lib/worldLow.js"></script>
<script src="~/Scripts/lib/angular.js"></script>
<script src="~/Scripts/lib/angular-route.js"></script>
<script src="~/Scripts/lib/jquery.slimscroll.js"></script>
<script src="~/Scripts/lib/angular-slimscroll.js"></script>
<script src="~/Scripts/lib/smart-table.js"></script>
<script src="~/Scripts/lib/angular-toastr.tpls.js"></script>
<script src="~/Scripts/lib/angular-touch.js"></script>
<script src="~/Scripts/lib/sortable.js"></script>
<script src="~/Scripts/lib/dropdown.js"></script>
<script src="~/Scripts/lib/bootstrap-select.js"></script>
<script src="~/Scripts/lib/bootstrap-switch.js"></script>
<script src="~/Scripts/lib/bootstrap-tagsinput.js"></script>
<script src="~/Scripts/lib/moment.js"></script>
<script src="~/Scripts/lib/fullcalendar.js"></script>
<script src="~/Scripts/lib/leaflet-src.js"></script>
<script src="~/Scripts/lib/angular-progress-button-styles.min.js"></script>
<script src="~/Scripts/lib/angular-ui-router.js"></script>
<script src="~/Scripts/lib/angular-chart.js"></script>
<script src="~/Scripts/lib/chartist.min.js"></script>
<script src="~/Scripts/lib/angular-chartist.js"></script>
<script src="~/Scripts/lib/eve.js"></script>
<script src="~/Scripts/lib/raphael.min.js"></script>
<script src="~/Scripts/lib/mocha.js"></script>
<script src="~/Scripts/lib/morris.js"></script>
<script src="~/Scripts/lib/angular-morris-chart.min.js"></script>
<script src="~/Scripts/lib/ion.rangeSlider.js"></script>
<script src="~/Scripts/lib/ui-bootstrap-tpls.js"></script>
<script src="~/Scripts/lib/angular-animate.js"></script>
<script src="~/Scripts/lib/rangy-core.js"></script>
<script src="~/Scripts/lib/rangy-classapplier.js"></script>
<script src="~/Scripts/lib/rangy-highlighter.js"></script>
<script src="~/Scripts/lib/rangy-selectionsaverestore.js"></script>
<script src="~/Scripts/lib/rangy-serializer.js"></script>
<script src="~/Scripts/lib/rangy-textrange.js"></script>
<script src="~/Scripts/lib/textAngular.js"></script>
<script src="~/Scripts/lib/textAngular-sanitize.js"></script>
<script src="~/Scripts/lib/textAngularSetup.js"></script>
<script src="~/Scripts/lib/xeditable.js"></script>
<script src="~/Scripts/lib/jstree.js"></script>
<script src="~/Scripts/lib/ngJsTree.js"></script>
<script src="~/Scripts/lib/select.js"></script>
<script src="~/Scripts/lib/angular-input-masks-standalone.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<script src="Scripts/app/theme/theme.module.js"></script>
<script src="Scripts/app/pages/pages.module.js"></script>
<script src="Scripts/app/theme/components/components.module.js"></script>
<script src="Scripts/app/theme/inputs/inputs.module.js"></script>
<script src="Scripts/app/pages/admin/pages.module.js"></script>
<script src="Scripts/app/pages/agentes/agentes.module.js"></script>
<script src="Scripts/app/pages/autos/autos.module.js"></script>
<script src="Scripts/app/pages/charts/charts.module.js"></script>
<script src="Scripts/app/pages/components/components.module.js"></script>
<script src="Scripts/app/pages/dashboard/dashboard.module.js"></script>
<script src="Scripts/app/pages/fatos/constatados.module.js"></script>
<script src="Scripts/app/pages/fatos/denuncia.module.js"></script>
<script src="Scripts/app/pages/fatos/fatos.module.js"></script>
<script src="Scripts/app/pages/fatos/finalizados.module.js"></script>
<script src="Scripts/app/pages/fatos/reclamacao.module.js"></script>
<script src="Scripts/app/pages/fatos/trotes.module.js"></script>
<script src="Scripts/app/pages/form/form.module.js"></script>
<script src="Scripts/app/pages/maps/maps.module.js"></script>
<script src="Scripts/app/pages/profile/profile.module.js"></script>
<script src="Scripts/app/pages/tables/tables.module.js"></script>
<script src="Scripts/app/pages/ui/ui.module.js"></script>
<script src="Scripts/app/pages/_shared/shared.form.module.js"></script>
<script src="Scripts/app/pages/charts/amCharts/amCharts.module.js"></script>
<script src="Scripts/app/pages/charts/chartist/chartist.module.js"></script>
<script src="Scripts/app/pages/charts/chartJs/chartJs.module.js"></script>
<script src="Scripts/app/pages/charts/morris/morris.module.js"></script>
<script src="Scripts/app/pages/components/mail/mail.module.js"></script>
<script src="Scripts/app/pages/components/mail/reclamacoes.module.js"></script>
<script src="Scripts/app/pages/ui/alerts/alerts.module.js"></script>
<script src="Scripts/app/pages/ui/buttons/buttons.module.js"></script>
<script src="Scripts/app/pages/ui/grid/grid.module.js"></script>
<script src="Scripts/app/pages/ui/icons/icons.module.js"></script>
<script src="Scripts/app/pages/ui/modals/modals.module.js"></script>
<script src="Scripts/app/pages/ui/notifications/notifications.module.js"></script>
<script src="Scripts/app/pages/ui/panels/panels.module.js"></script>
<script src="Scripts/app/pages/ui/progressBars/progressBars.module.js"></script>
<script src="Scripts/app/pages/ui/slider/slider.module.js"></script>
<script src="Scripts/app/pages/ui/tabs/tabs.module.js"></script>
<script src="Scripts/app/pages/ui/typography/typography.module.js"></script>
<script src="Scripts/app/app.js"></script>
<script src="Scripts/app/theme/theme.config.js"></script>
<script src="Scripts/app/theme/theme.configProvider.js"></script>
<script src="Scripts/app/theme/theme.constants.js"></script>
<script src="Scripts/app/theme/theme.run.js"></script>
<script src="Scripts/app/theme/theme.service.js"></script>
<script src="Scripts/app/pages/apiConfig.js"></script>
<script src="Scripts/app/theme/components/toastrLibConfig.js"></script>
<script src="Scripts/app/theme/directives/animatedChange.js"></script>
<script src="Scripts/app/theme/directives/autoExpand.js"></script>
<script src="Scripts/app/theme/directives/autoFocus.js"></script>
<script src="Scripts/app/theme/directives/includeWithScope.js"></script>
<script src="Scripts/app/theme/directives/ionSlider.js"></script>
<script src="Scripts/app/theme/directives/ngFileSelect.js"></script>
<script src="Scripts/app/theme/directives/scrollPosition.js"></script>
<script src="Scripts/app/theme/directives/trackWidth.js"></script>
<script src="Scripts/app/theme/directives/zoomIn.js"></script>
<script src="Scripts/app/theme/services/baProgressModal.js"></script>
<script src="Scripts/app/theme/services/baUtil.js"></script>
<script src="Scripts/app/theme/services/fileReader.js"></script>
<script src="Scripts/app/theme/services/httpIntercep.js"></script>
<script src="Scripts/app/theme/services/preloader.js"></script>
<script src="Scripts/app/theme/services/stopableInterval.js"></script>
<script src="Scripts/app/pages/agentes/adiciona-agente.ctrl.js"></script>
<script src="Scripts/app/pages/agentes/agente-detalhe.ctrl.js"></script>
<script src="Scripts/app/pages/agentes/agente-table.ctrl.js"></script>
<script src="Scripts/app/pages/agentes/agente.service.js"></script>
<script src="Scripts/app/pages/agentes/EditarAgenteCtrl.js"></script>
<script src="Scripts/app/pages/autos/agentes.service.js"></script>
<script src="Scripts/app/pages/autos/autoconstatacao.service.js"></script>
<script src="Scripts/app/pages/autos/AutosFinalizadosListaCtrl.js"></script>
<script src="Scripts/app/pages/fatos/ConstatadosCtrl.js"></script>
<script src="Scripts/app/pages/fatos/fatos.service.js"></script>
<script src="Scripts/app/pages/fatos/FatosCtrl.js"></script>
<script src="Scripts/app/pages/fatos/FatosDetalheCtrl.js"></script>
<script src="Scripts/app/pages/fatos/FinalizadosCtrl.js"></script>
<script src="Scripts/app/pages/fatos/status.service.js"></script>
<script src="Scripts/app/pages/fatos/TrotesCtrl.js"></script>
<script src="Scripts/app/pages/profile/ProfileModalCtrl.js"></script>
<script src="Scripts/app/pages/profile/ProfilePageCtrl.js"></script>
<script src="Scripts/app/pages/tables/TablesPageCtrl.js"></script>
<script src="Scripts/app/pages/_shared/autos.service.js"></script>
<script src="Scripts/app/pages/_shared/status.service.js"></script>
<script src="Scripts/app/theme/components/backTop/backTop.directive.js"></script>
<script src="Scripts/app/theme/components/baPanel/baPanel.directive.js"></script>
<script src="Scripts/app/theme/components/baPanel/baPanel.service.js"></script>
<script src="Scripts/app/theme/components/baPanel/baPanelBlur.directive.js"></script>
<script src="Scripts/app/theme/components/baPanel/baPanelBlurHelper.service.js"></script>
<script src="Scripts/app/theme/components/baPanel/baPanelSelf.directive.js"></script>
<script src="Scripts/app/theme/components/baSidebar/baSidebar.directive.js"></script>
<script src="Scripts/app/theme/components/baSidebar/baSidebar.service.js"></script>
<script src="Scripts/app/theme/components/baSidebar/BaSidebarCtrl.js"></script>
<script src="Scripts/app/theme/components/baSidebar/baSidebarHelpers.directive.js"></script>
<script src="Scripts/app/theme/components/baWizard/baWizard.directive.js"></script>
<script src="Scripts/app/theme/components/baWizard/baWizardCtrl.js"></script>
<script src="Scripts/app/theme/components/baWizard/baWizardStep.directive.js"></script>
<script src="Scripts/app/theme/components/contentTop/contentTop.directive.js"></script>
<script src="Scripts/app/theme/components/msgCenter/denuncias.service.js"></script>
<script src="Scripts/app/theme/components/msgCenter/msgCenter.directive.js"></script>
<script src="Scripts/app/theme/components/msgCenter/MsgCenterCtrl.js"></script>
<script src="Scripts/app/theme/components/pageTop/pageTop.directive.js"></script>
<script src="Scripts/app/theme/components/progressBarRound/progressBarRound.directive.js"></script>
<script src="Scripts/app/theme/components/widgets/widgets.directive.js"></script>
<script src="Scripts/app/theme/filters/image/appImage.js"></script>
<script src="Scripts/app/theme/filters/image/kameleonImg.js"></script>
<script src="Scripts/app/theme/filters/image/profilePicture.js"></script>
<script src="Scripts/app/theme/filters/text/removeHtml.js"></script>
<script src="Scripts/app/theme/inputs/baSwitcher/baSwitcher.js"></script>
<script src="Scripts/app/pages/autos/constatacao/AutoConstatacaCriarCtrl.js"></script>
<script src="Scripts/app/pages/autos/constatacao/AutoConstatacaoListaCtrl.js"></script>
<script src="Scripts/app/pages/autos/constatacao/FinalizarDenunciaCtrl.js"></script>
<script src="Scripts/app/pages/charts/chartist/chartistCtrl.js"></script>
<script src="Scripts/app/pages/charts/chartJs/chartJs1DCtrl.js"></script>
<script src="Scripts/app/pages/charts/chartJs/chartJs2DCtrl.js"></script>
<script src="Scripts/app/pages/charts/chartJs/chartJsWaveCtrl.js"></script>
<script src="Scripts/app/pages/charts/morris/morrisCtrl.js"></script>
<script src="Scripts/app/pages/components/mail/mailMessages.js"></script>
<script src="Scripts/app/pages/components/mail/MailTabCtrl.js"></script>
<script src="Scripts/app/pages/components/mail/ReclamacoesTabCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/blurFeed/blurFeed.directive.js"></script>
<script src="Scripts/app/pages/dashboard/blurFeed/BlurFeedCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/calendar/dashboardCalendar.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardCalendar/dashboardCalendar.directive.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardCalendar/DashboardCalendarCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardLineChart/dashboardLineChart.directive.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardLineChart/DashboardLineChartCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardMap/dashboardMap.directive.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardMap/DashboardMapCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardPieChart/dashboardPieChart.directive.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardPieChart/DashboardPieChartCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardTodo/dashboardTodo.directive.js"></script>
<script src="Scripts/app/pages/dashboard/dashboardTodo/DashboardTodoCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/pieCharts/dashboardPieChart.js"></script>
<script src="Scripts/app/pages/dashboard/trafficChart/trafficChart.directive.js"></script>
<script src="Scripts/app/pages/dashboard/trafficChart/TrafficChartCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/weather/weather.directive.js"></script>
<script src="Scripts/app/pages/dashboard/weather/WeatherCtrl.js"></script>
<script src="Scripts/app/pages/dashboard/popularApp/popularApp.directive.js"></script>
<script src="Scripts/app/pages/form/wizard/wizrdCtrl.js"></script>
<script src="Scripts/app/pages/maps/google-maps/GmapPageCtrl.js"></script>
<script src="Scripts/app/pages/maps/map-bubbles/MapBubblePageCtrl.js"></script>
<script src="Scripts/app/pages/maps/leaflet/LeafletPageCtrl.js"></script>
<script src="Scripts/app/pages/maps/map-lines/MapLinesPageCtrl.js"></script>
<script src="Scripts/app/pages/ui/buttons/ButtonPageCtrl.js"></script>
<script src="Scripts/app/pages/ui/icons/IconsPageCtrl.js"></script>
<script src="Scripts/app/pages/ui/modals/ModalsPageCtrl.js"></script>
<script src="Scripts/app/pages/ui/notifications/NotificationsPageCtrl.js"></script>
<script src="Scripts/app/pages/_shared/autoForm/constatacaoForm.directive.js"></script>
<script src="Scripts/app/pages/_shared/autoForm/ConstatacaoFormCtrl.js"></script>
<script src="Scripts/app/pages/_shared/empresaForm/empresaForm.directive.js"></script>
<script src="Scripts/app/pages/_shared/empresaForm/EmpresaFormCtrl.js"></script>
<script src="Scripts/app/pages/_shared/enderecoForm/enderecoForm.directive.js"></script>
<script src="Scripts/app/pages/_shared/enderecoForm/EnderecoFormCtrl.js"></script>
<script src="Scripts/app/theme/components/backTop/lib/jquery.backTop.min.js"></script>
<script src="Scripts/app/pages/autos/modals/constatacao/modalRemover.service.js"></script>
<script src="Scripts/app/pages/autos/modals/constatacao/modalSalvar.constatacao.service.js"></script>
<script src="Scripts/app/pages/autos/modals/constatacao/RemoverAutoCtrl.js"></script>
<script src="Scripts/app/pages/autos/modals/constatacao/SalvarAutoConstatacaoCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/areaChart/AreaChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/barChart/BarChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/combinedChart/combinedChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/funnelChart/FunnelChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/ganttChart/ganttChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/lineChart/LineChartCtrl.js"></script>
<script src="Scripts/app/pages/charts/amCharts/pieChart/PieChartCtrl.js"></script>
<script src="Scripts/app/pages/components/mail/composeBox/composeBoxCtrl.js"></script>
<script src="Scripts/app/pages/components/mail/composeBox/composeModal.js"></script>
<script src="Scripts/app/pages/components/mail/detail/MailDetailCtrl.js"></script>
<script src="Scripts/app/pages/components/mail/list/MailListCtrl.js"></script>
<script src="Scripts/app/pages/ui/modals/notifications/NotificationsCtrl.js"></script>
<script src="Scripts/app/pages/ui/modals/progressModal/ProgressModalCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/datePickers/datepickerCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/datePickers/datepickerpopupCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/oldSelect/OldSelectpickerPanelCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/oldSelect/selectpicker.directive.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/oldSwitches/OldSwitchPanelCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/oldSwitches/switch.directive.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/select/GroupSelectpickerOptions.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/select/SelectpickerPanelCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/switches/SwitchDemoPanelCtrl.js"></script>
<script src="Scripts/app/pages/form/inputs/widgets/tagsInput/tagsInput.directive.js"></script>
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
