<ba-wizard-step title="Constatação"  form="vm.autoForm">
    <form name="vm.autoForm" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group has-feedback"
                        ng-class="{'has-error': vm.autoForm.local.$invalid && (vm.autoForm.local.$dirty || vm.autoForm.$submitted)}">
                    <label for="local">Local</label>
                    <input type="text" class="form-control" id="local" name="local" placeholder="Local Da Constatação" data-ng-model="vm.autoData.Local" >
                    <span class="help-block error-block basic-block"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-feedback"
                        ng-class="{'has-error': vm.autoForm.data.$invalid && (vm.autoForm.data.$dirty || vm.autoForm.$submitted)}">
                    <label for="data">Data</label>
                    <input type="date" class="form-control" id="data" name="data" placeholder="Data" data-ng-model="vm.autoData.DataAutuacao" >
                    <span class="help-block error-block basic-block"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group has-feedback"
                        ng-class="{'has-error': vm.autoForm.time.$invalid && (vm.autoForm.time.$dirty || vm.autoForm.$submitted)}">
                    <label for="time">Hora</label>
                    <input type="time" class="form-control" id="time" name="time" placeholder="0800" data-ng-model="vm.autoData.Prazo" >
                    <span class="help-block error-block basic-block"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback"
                        ng-class="{'has-error': vm.autoForm.autuadoNome.$invalid && (vm.autoForm.autuadoNome.$dirty || vm.autoForm.$submitted)}">
                    <label for="autuadoNome">Nome Responsavel</label>
                    <input type="text" class="form-control" id="autuadoNome" name="autuadoNome" placeholder="Responsavel" data-ng-model="vm.autoData.Autuado.Nome" >
                    <span class="help-block error-block basic-block"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group has-feedback"
                        ng-class="{'has-error': vm.autoForm.autuadoRg.$invalid && (vm.autoForm.autuadoRg.$dirty || vm.autoForm.$submitted)}">
                    <label for="autuadoRg">RG</label>
                    <input type="text" class="form-control" id="autuadoRg" name="autuadoRg" placeholder="RG do Responsavel" data-ng-model="vm.autoData.Autuado.Rg" >
                    <span class="help-block error-block basic-block"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-error': vm.autoForm.Constatacao.$invalid && (vm.autoForm.Constatacao.$dirty || vm.autoForm.$submitted)}">
                    <label for="Constatacao">Constatação</label>
                    <textarea data-ng-model="vm.autoData.Constatacao" class="form-control" placeholder="Constatação"></textarea >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="productName">Dispositivos Infrigidos</label>
                    <textarea data-ng-model="vm.autoData.DispositivosInfrigidos" class="form-control" placeholder="Dispositivos Legais Infrigidos"></textarea>
                </div>
            </div>
        </div>

    </form>
</ba-wizard-step>
<ba-wizard-step title="Finaliza">
  <form class="form-horizontal" name="vm.finishForm" novalidate>
      <button type="submit" class="btn btn-success" ng-click="vm.salvarAuto()">Salvar Constatação</button>                    
    </form>
 </ba-wizard-step>
