<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

    <h3 class="with-line">Informações Gerais</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Nome</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="Nome" value="" ng-model="vm.agente.Nome">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputMatriluca" class="col-sm-3 control-label">Matricula</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputMatriluca" ng-model="vm.agente.Matricula" placeholder="Matricula" value="0002">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Senha</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Senha</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" value="" ng-model="vm.agente.Senha" >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">Confirmar Senha</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Informações De Contato</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" ng-model="vm.agente.Email">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Telefone</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail4" placeholder="" ng-model="vm.agente.Telefone">
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="vm.adicionar(vm.agente)">
      <i class="ion-android-checkmark-circle"></i>Salvar
    </button>
  </div>
</div>
