<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="{{vm.fato.Tipo.Nome}}" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Empresa" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleUsername1">Nome Fantasia</label>
                                        <input type="text" class="form-control" id="exampleUsername1" name="username" placeholder="Nome Fantasia" ng-model="vm.fato.Empresa.NomeFantasia" >
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.email.$invalid && (vm.personalInfoForm.email.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputEmail1">Razão Social</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Razão Social" ng-model="vm.fato.Empresa.RazaoSocial" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Atividade</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Atividade" ng-model="vm.fato.Empresa.Atividade" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Inscrição Estadual</label>
                                        <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Inscrição Estadual" ng-model="vm.fato.Empresa.InscricaoEstadual" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputConfirmPassword1">CNPJ</label>
                                        <input type="text" class="form-control" id="exampleInputConfirmPassword1" name="confirmPassword" placeholder="CNPJ" ng-model="vm.fato.Empresa.Cnpj" >
                                        <!--<span class="help-block error-block basic-block">Campo Requerido</span>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Informações De Endereço" form="vm.productInfoForm">
                        <form name="vm.productInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.productInfoForm.productName.$invalid && (vm.productInfoForm.productName.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productName">CEP</label>
                                        <input type="text" class="form-control" id="productName" name="productName" placeholder="CEP" ng-model="vm.fato.Empresa.Endereco.Cep" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Telefone</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="Telefone" ng-model="vm.fato.Empresa.Endereco.Telefone" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Rua</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="Rua" ng-model="vm.fato.Empresa.Endereco.Rua" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Numero</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="Numero" ng-model="vm.fato.Empresa.Endereco.Numero" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Bairro</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="Bairro" ng-model="vm.fato.Empresa.Endereco.Bairro" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Complemento</label>
                                        <input type="text" class="form-control" id="productId" name="productId" placeholder="Complemento" ng-model="vm.fato.Empresa.Endereco.Complemento">
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Situação"  form="vm.addressForm">
                        <form name="vm.addressForm" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.addressForm.address.$invalid && (vm.addressForm.address.$dirty || vm.addressForm.$submitted)}">
                                       <label for="productName">Situação</label>
                                       <select class="form-control" title="Situação"
                                               ng-model="vm.fato.Status"
                                               ng-options="status as status.Nome for status in vm.status">
                                       </select>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Mensagem</label>
                                        <input type="text" class="form-control" id="statusMsg" name="statusMsg" placeholder="Mensagem" ng-model="vm.fato.Status.Msg">
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                     <button type="submit" class="btn btn-success" ng-click="vm.alterarStatus(vm.fato.FatoId,vm.fato.Status)">Alterar Situação</button>
                                </div>
                                <div class="col-md-4 col-md-offset-8">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.addressForm.address.$invalid && (vm.addressForm.address.$dirty || vm.addressForm.$submitted)}">
                                        <label for="productName">Data</label>
                                        <input type="date" class="form-control" id="address" name="address" placeholder="Shipment address" ng-model="vm.fato.Data" >
                                        <span class="help-block error-block basic-block">Campo Requerido</span>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                      <textarea ng-model="vm.fato.Descricao" class="form-control" placeholder="Constatação" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ba-wizard-step>
                     <ba-wizard-step title="Provas">
                        <button  class="btn btn-success with-line text-center btn-with-icon" ng-click="vm.carrega(vm.fato.FatoId)">Carregar</button>
                         <div class="row">
                             <h3 class="with-line text-center">Provas</h3>
                             <div class="col-md-12">
                                 <ul>
                                     <li ng-repeat="i in vm.anexos">
                                         <div class="userpic-wrapper person-info">
                                             <img style="width: 100%;
    height: auto;" data-ng-src="data:image/png;base64,{{i.Base64Image}}" />
                                         </div>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </ba-wizard-step>
                    <ba-wizard-step title="Finaliza">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="answer-container">
                                   <button type="button" class="btn btn-with-icon" ui-sref="autos.constatacaoForm({fatoId: vm.fato.FatoId})">
                                       <i class="ion-reply"></i>
                                       Averiguar
                                   </button>
                                   <!--<button type="button" class="btn btn-with-icon" ng-click="vm.showNotificar('Denuncia',detailCtrl.fato.Empresa.Email,'')"><i class="ion-reply"></i>Notificar</button>-->
                                   
                                 </div>
                             </div>
                         </div>

                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>
