<div class="horizontal-scroll">
  <table class="table" st-table="vm.fatos">
    <thead>
    <tr class="sortable">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="Empresa.NomeFantasia">Nome Empresa</th>
      <th st-sort="Empresa.Cnpj">Cnpj</th>
      <th st-sort="Alterador.Matricula">Agente</th>
      <th st-sort="Data">Ult. Atualização</th>
      <th ng-if="vm.fatos[0].Status.StatusFatoId!=2005" st-sort="Status.Nome">Status</th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="Empresa.NomeFantasia" placeholder="Nome Empresa" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="Empresa.Cnpj" placeholder="CNPJ" class="input-sm form-control search-input"
                 type="search"/></th>
                 <th><input st-search="Alterador.Nome" placeholder="Nome" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="Data" placeholder="Data" class="input-sm form-control search-input" type="search"/>
      </th>
      <th ng-if="vm.fatos[0].Status.StatusFatoId!=2005">
        <select st-search="Status.Nome" class="form-control" id="predicate">
          <option value="">Todos</option>
          <option ng-repeat="status in vm.status" value="{{status.Nome}}">{{status.Nome}}</option>
        </select>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="fato in vm.fatos">
      <td class="table-id">{{fato.FatoId}}</td>
      <td>{{fato.Empresa.NomeFantasia}}</td>
      <td>{{fato.Empresa.Cnpj}}</td>
      <td>{{fato.Alterador.Nome}}</td>
      <td>{{fato.Data | date : 'dd/MM/yy'}}</td>
      <td>{{fato.Status.Nome}}</td>
      <td ng-if="fato.Status.StatusFatoId!=2005">
        <div class="buttons">
          <button class="btn btn-primary editable-table-button btn-xs" ui-sref="fatos.detalhes({id:fato.FatoId})">Detalhes</button>
        </div>
      </td>

       <td ng-if="fato.Status.StatusFatoId==2005">
        <div class="buttons">
          <button class="btn btn-primary editable-table-button btn-xs" ui-sref="autos.constatacaoForm({empresaId: fato.Empresa.EmpresaId, autoId: fato.AutoConstatacao.AutoConstatacaoId})">Editar</button>
          <a type="button"  href="{{vm.url}}Auto/GerarAuto/{{fato.AutoConstatacao.AutoConstatacaoId}}"  target="_blank" class="btn btn-with-icon"><i class="ion-printer"></i>Gerar Doc.</a>
        </div>
      </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
