<ba-wizard-step title="Informações De Endereço" form="vm.empresaEnderecoForm">
<form name="vm.empresaEnderecoForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-feedback"
                    ng-class="{'has-error': vm.empresaEnderecoForm.Cep.$invalid && (vm.empresaEnderecoForm.$submitted || vm.cepIsEmpty())}">
                <label for="Cep">CEP</label>
                <input type="text" class="form-control" id="Cep" name="Cep" placeholder="Cep" data-ng-model="vm.enderecoData.Cep" ui-br-cep-mask>
                <span class="help-block error-block basic-block"></span>
            </div>
            <div class="form-group" ng-class="{'has-error': vm.empresaEnderecoForm.tel.$invalid && (vm.empresaEnderecoForm.tel.$dirty || vm.empresaEnderecoForm.$submitted)}">
                <label for="tel">Telefone</label>
                <input type="text" class="form-control" id="tel" name="text" placeholder="Telefone" data-ng-model="vm.enderecoData.Telefone"  ui-br-phone-number>
                <span class="help-block error-block basic-block"></span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{'has-error': vm.empresaEnderecoForm.rua.$invalid && (vm.empresaEnderecoForm.rua.$dirty || vm.empresaEnderecoForm.$submitted)}">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua" data-ng-model="vm.enderecoData.Rua" >
                <span class="help-block error-block basic-block"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': vm.empresaEnderecoForm.numero.$invalid && (vm.empresaEnderecoForm.numero.$dirty || vm.empresaEnderecoForm.$submitted)}">
                <label for="numero">Numero</label>
                <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" data-ng-model="vm.enderecoData.Numero" >
                <span class="help-block error-block basic-block"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': vm.empresaEnderecoForm.bairro.$invalid && (vm.empresaEnderecoForm.bairro.$dirty || vm.empresaEnderecoForm.$submitted)}">
                <label for="productId">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" data-ng-model="vm.enderecoData.Bairro" >
                <span class="help-block error-block basic-block"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                <label for="productId">Complemento</label>
                <input type="text" class="form-control" id="productId" name="productId" placeholder="Complemento" data-ng-model="vm.enderecoData.Complemento">
                <span class="help-block error-block basic-block"></span>
            </div>
        </div>
    </div>
</form>
</ba-wizard-step>
